* {
    box-sizing: border-box;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.modal-curtain {
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}
html, body {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
body {
    font-family: var(--global-font-family);
    margin: 0;
    min-width: 320px;
    position: relative;
}
h1 {
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    font-weight: normal;
}
h3, .h3-style {
    font-weight: normal;
    font-size: 1.5rem;
}
h4, .h4-style {
    font-size: 1rem;
}
h4, h5, h6 {
    font-weight: normal;
}
a, a:link {
    color: var(--color-link);
}
a:hover {
    color: var(--color-link-hover);
}
button {
    -webkit-appearance: none;
}

@import 'layouts.scss';
@import 'forms.scss';

/* Footer */
#footer {
    background-color: var(--bgcolor-footer);
    min-height: 100px;
    padding: 0 0.5em 2em 0.5em; 
}
#footer .layout {
    padding-top: 2em;
}
#footer-logo {
    align-items: center;
    background-color: var(--color-accent-dark);
    border-radius: 50%;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
}
